<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Dusk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <Dusk.Properties.Settings>
            <setting name="ShowSplash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastBarangay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowUsageCount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableSuggestions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DataGridEditing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableUserAccounts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PicturePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowFullName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowAge" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowNumber" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowBarangay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowBirthDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDisability" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowKauban" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowLivelihood" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowOscaId" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowOscaDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowRemarks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSex" serializeAs="String">
                <value>True</value>
            </setting>
        </Dusk.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
